<div class="wrapper">
  <h5 *ngIf="searchResultsFor.length > 0">
    Search results for "{{ searchResultsFor }}"
  </h5>
  <h3>{{ pageTitle }}</h3>
  <div>
    <div class="products_container">
      <ng-container *ngFor="let product of products">
        <div
          app-product
          class="product_card col-3"
          [product]="product"
          *ngIf="
            searchResultsFor === '' ||
            product.title
              .toLocaleLowerCase()
              .includes(searchResultsFor.toLocaleLowerCase())
          "
          (click)="handleSelectedProduct(product)"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
