<div class="product_card">
  <div class="position-relative">
    <p-tag
      [rounded]="true"
      [style]="{
        'background-image':
          'linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% )',
        'padding-inline': '15px'
      }"
      class="badge"
      >Hot</p-tag
    >
    <div class="product_tumb">
      <img src="{{ product.image }}" alt="" />
    </div>
  </div>
  <div class="product-details">
    <!-- <span class="product-catagory">{{ product.category }}</span> -->
    <p-chip
      [style]="{
        'margin-bottom': '5px',
        'text-transform': 'uppercase',
        'font-size': '12px',
      }"
      >» {{ product.category }}</p-chip
    >
    <h6 pTooltip="{{ product.title }}" tooltipPosition="bottom">{{ product.title }}</h6>
    <div class="product_description">
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="product-price d-flex flex-column">
        <div>
          <span class="fw-bold text-success fs-5"
            >${{ getDiscountedPrice(product.price).toFixed(2) }}
          </span>
          <span class="text-decoration-line-through text-danger fs-6"
            >$ {{ product.price }}</span
          >
        </div>
        <p
          [ngClass]="product.inStock ? 'text-success' : 'text-danger'"
          class="fw-thinner m-0 p-0"
          style="font-size: 12px"
        >
          {{ product.inStock ? "In stock" : "Out of stock" }}
        </p>
      </div>
      <div class="product-links">
        <img
          id="fav_img"
          src="assets/{{
            (!product.isFav ? 'add_to_fav' : 'added_to_fav') + '.png'
          }}"
          (click)="handleFav()"
        />
        <img
          id="fav_img"
          src="assets/{{
            (!product.isAddedToCart ? 'add_to_cart' : 'added_to_cart') + '.png'
          }}"
          (click)="handleAddCart()"
        />
      </div>
    </div>
  </div>
</div>
